body{
	margin: 0;
	font-size: 20 px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 30 px;
}

h2{
	font-family: 'Architects Daughter', cursive;
	font-size: 30 px;
}

header{
	background-color: #e70c19;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: white;
	font-family: 'Architects Daughter', cursive;
	font-size: 100px;
}

header img{
	border-radius: 300px;
	border: 20px solid black;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20 px;
}

main img{
	max-width: 100%;
}

a{
	color: #e70c19;
}
a:hover{
	color: white;
	background-color: blueviolet;
}

footer{
	background-color: #e70c19;
	text-align: center;
	color: white;
	padding: 50px;

}

footer p{margin:  0;}

footer a{
	color: white;
}
footer a:hover{
	opacity: 0.5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}